#calendar {
  width: 90%;
  margin: auto;
  background-color: aquamarine;
}

#week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#month-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  border: 1px solid;
  aspect-ratio: 1 / 1;
  padding: 10px;
}

