:root {
  --grid-gap: 10px;
  --text-padding: 10px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#calendar {
  width: 80%;
  margin: auto;
}

#calendar-control {
  display: grid;
  grid-template-columns: 4.6fr 1.2fr 1.2fr;
}

#calendar-year-input {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#year-input {
  width: 40%;
  height: 20%;
  box-sizing: border-box;
  font-size: 1vw;;
}

#calendar-month-select {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#month-select {
  width: 60%;
  height: 20%;
  box-sizing: border-box;
  font-size: 1vw;;
}

#calendar-header {
  display: grid;
  grid-template-rows: 3fr 3fr 1fr;
}

#month-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 3fr 0.5fr 1.5fr;
}

#month-backward-button, #month-forward-button {
  margin: auto;
}

#month-text {
  text-align: center;
  font-size: 1.5vw;
  text-transform: capitalize;
  margin: auto;
}

#week-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--grid-gap);
  text-transform: capitalize;
}

.week-day {
  font-size: 1.5vw;
  text-align: right;
  padding: var(--text-padding);

}

#calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--grid-gap);
}

#calendar-body .day {
  border: 1px solid;
}

.day {
  display: grid;
  grid-template-rows: 1fr 2fr;
  aspect-ratio:
   1 / 1;
  padding: var(--text-padding);
  background-color: azure;
}

.day-non-current-month {
  opacity: 0.2;
}

.day-number p {
  text-align: right;
  font-size: 3vw;
  margin: 0px;
  pointer-events: none;
}

.day-description {
  align-items: center;
  align-content: center;
  pointer-events: none;
}

.day-description p {
  opacity: 0.6;
  font-size: 1vw;
  text-align: center;
  pointer-events: none;
}

.day-sunday {
  color: #8B0000;
}

#modal-description {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#modal-description-background {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: azure;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 40%;
  overflow: auto;
}

#modal-description-date {
  font-size: 1vw;
  text-align: center;
  margin-bottom: 40px;
  opacity: 0.9;
}

#modal-description-name {
  font-size: 1.7vw;
  text-align: center;
  opacity: 0.8;
}

#modal-description-content {
  font-size: 1.5vw;
  text-align: justify;
  margin: 20px;
  opacity: 0.7;
}