:root {
  --grid-gap: 10px;
  --text-padding: 10px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#calendar {
  width: 80%;
  margin: auto;
}

#calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--grid-gap);
}

#calendar-header div {
  font-size: 1.5vw;
  text-align: right;
  padding: var(--text-padding);

}

#calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--grid-gap);
}

#calendar-body .day {
  border: 1px solid;
  
}

.day {
  display: grid;
  grid-template-rows: 1fr 2fr;
  aspect-ratio:
   1 / 1;
  padding: var(--text-padding);
  background-color: azure;
}

.day-non-current-month {
  opacity: 0.2;
}

.day-number p {
  text-align: right;
  font-size: 3vw;
  margin: 0px;
}

.day-description {
  align-items: center;
  align-content: center;
}

.day-description p {
  font-size: 1vw;
  text-align: center;
}

.day-sunday .day-number {
  color: red;
}

